/* Definição dos temas da página */

/* AJUSTES PARA O TEMA CLARO */

.link__icone--x-dark{
    display: none;
}

.capa--dark{
    display: none;
}   

/* AJUSTES PARA O TEMA ESCURO */

body.tema-escuro{
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}

body.tema-escuro .botao-tema{
    background-image: url('../icones/light-mode.svg');
}

body.tema-escuro .capa{
    display: none;
}

body.tema-escuro .capa--dark{
    display: block;
}

body.tema-escuro .link{
    background-color: #4d4d4d;
    color: var(--cor-branco);

    &:hover{
        background-color: hsl(0, 0%, 40%);
    }
}

body.tema-escuro .link--destaque{
    background-color: var(--cor-amarelo);
    color: var(--cor-preto);

    &:hover{
        background-color: hsla(50, 100%, 80%);
    }
}

body.tema-escuro .link__icone--x{
    display: none;
}

body.tema-escuro .link__icone--x-dark{
    display: block;
}

body.tema-escuro .rodape{
    background-color: hsl(0, 0%, 10%);
}